<div class="ui segment container">
  <div class="ui secondary center aligned grid padded segment" style="background-color: #807F83; color: #FFFFFF">
    <div class="three wide column">

      <img class="ui right aligned container image" src="/assets/images/UWO Stacked.png">
    </div>
    <div class="thirteen wide column">
      <br>
      <h1 style="font-family: Garamond; font-size: 350%">
          Western Engineering <br /> Adjudication System
          </h1>
    </div>

  </div>
  <br> <br>
  {{outlet}}
  <br> <br>
  <footer>
    <div class="ui inverted grid segment" style="background-color: #4F2683; color: #FFFFFF">
      <div class="thirteen wide column">
        © Copyright - Semicolon Solutions
      </div>
      <div class="three wide column">
        <img class="ui right aligned container small image" src="/assets/images/semicolon_side.png">
      </div>
    </div>
  </footer>

</div>