<div class="ui center aligned header">
    <h2>Semicolon Solutions</h2>
</div>

<hr>
<p style="font-size: 120%">
  Users of the Western Engineering Adjudication System can: 
  <ul>
     <li>View student records, including:</li>
     <ul>
       <li>Basic information</li>
       <li>Admission and registration information</li>
       <li>Advanced standings</li>
       <li>Scholarshipsand awards</li>
       <li>High school courses and grades</li>
       <li>University courses and grades</li>
     </ul>
     <li>Search for a student's record using first name, last name and/or student number </li>
     <li>Edit a student's record information</li>
     <li>Add and delete students records from the database</li>
     <li>Import student records to the local database</li>
     <li>Manage the gender, residency, high school, high school subject, and high school course system codes</li>
  </ul>
</p>
<P style="font-size:120%">
  Semicolon Software Solutions is a hard working group of young software engineering students
  destined for greatness. We work hard to bring the best solutions to any type of software project
  and look forward to bringing our newest upcoming project right to our own faculty here at Western
  Engineering Undergraduate Services.
</p>
<p style="font-size:120%">
  Semicolon Software Solutions prides itself on every solution we create. Semicolon Software Solutions stems from a 
  large root of programming where semicolons are always at the end of the line. At Semicolon Software Solutions, 
  we promise to always get to the end of the line no matter how hard we have to work, and no matter how much time we have to put into it. 
  We will make software great again, one line at a time.

</P>

{{show-logo}}
