<div class="ui center aligned header">
    <h2>Semicolon Solutions</h2>
</div>

<hr>
<P>
    Semicolon software solutions is a hard working group of young software engineering students
    destined for greatness. We work hard to bring the best solutions to any type of software project
    and look forward to bringing our newest upcoming project right to our own faculty here at Western
    Engineering Undergraduate Services.
</P>

{{show-logo}}
