<div class="ui modal">
  <div class="header" style="font-size: 150%">Help</div>
  <div class="content">
      <ul style="font-size: 120%">
          <li><b>Save:</b> Save the changes made to the student profile</li>
          <li><b>Undo:</b> Remove any changes made to a student's profile since the last save</li>
          <li><b>First:</b> View the first student record on the page</li>
          <li><b>Previous:</b> View the previous student record</li>
          <li><b>Next:</b> View the next student record</li>
          <li><b>Last:</b> View the last student record on the page</li>
          <li><b>All Records:</b> View a list of all th student records in pages of ten</li>
          <li><b>Find Record:</b>Search for stident records by first name, last name and student number</li>
          <li><b>Help:</b> View the help page</li>
      </ul>
      <br/>
    <div class="actions">
      <div class="ui button" {{action "exit"}}>OK</div>
    </div>
  </div>
</div>

