<div class = "ui grid">
    <div class="ui left aligned three wide column">
        <div class="ui form">
            <div class="ui medium header" >Select category type:</div>
            <br>
            <button class="ui violet button">Department</button><br><br>
            <button class="ui violet button">  Program </button><br>
            
            
        
        </div>
    </div>
</div>
