<div class="ui center aligned header">
  <h2>Upload Database File</h2>
</div>


<div>
  <input type="file" id="file-field"/>
  <div class="ui button" {{action 'upload'}} style="background-color: #4F2683; color: #ffffff">Upload</div>
  
</div>



<br><br><br><br>

<p>{{filename}}</p>

<div id="outputDiv"></div>