<div class="ui center aligned header">
  <h2>Upload Database File</h2>
</div>


<div>
  <input type="file" id="file-field"/>
  <div class="ui button" {{action 'upload'}} style="background-color: #4F2683; color: #ffffff">Upload</div>
  
</div>

<br>
{{#if success}}
<h4>Successfuly uploaded file: {{filename}}</h4>
{{/if}}

<div id="outputDiv"></div>