<div class="ui center aligned header">
    <h2>Welcome to the Western Engineering Adjudication System</h2>
</div>
<hr>
<br/>

<div class="ui grid">
  <div class="eight wide column">
  <button class="ui fluid button">
    <div class="ui center aligned header">View Student Records</div>
    <div class="right aligned">
      <p>Basic information</p>
      <p>Admission and registration information</p>
      <p>Advanced standings</p>
      <p>Scholarshipsand awards</p>
      <p>High school courses and grades</p>
      <p>University courses and grades</p>
    </div>
  </button>
  </div>
  <div class="eight wide column">
  <button class="ui fluid button">
    <div class="ui center aligned header">View Student Records</div>
    <div class="right aligned">
      <p>Basic information</p>
      <p>Admission and registration information</p>
      <p>Advanced standings</p>
      <p>Scholarshipsand awards</p>
      <p>High school courses and grades</p>
      <p>University courses and grades</p>
    </div>
  </button>
  </div>
  <div class="eight wide column">
  <button class="ui fluid button">
    <div class="ui center aligned header">View Student Records</div>
    <div class="right aligned">
      <p>Basic information</p>
      <p>Admission and registration information</p>
      <p>Advanced standings</p>
      <p>Scholarshipsand awards</p>
      <p>High school courses and grades</p>
      <p>University courses and grades</p>
    </div>
  </button>
  </div>
  <div class="eight wide column">
  <button class="ui fluid button">
    <div class="ui center aligned header">View Student Records</div>
    <div class="right aligned">
      <p>Basic information</p>
      <p>Admission and registration information</p>
      <p>Advanced standings</p>
      <p>Scholarshipsand awards</p>
      <p>High school courses and grades</p>
      <p>University courses and grades</p>
    </div>
  </button>
  </div>
  <div class="sixteen wide column">
  <button class="ui fluid button">
    <div class="ui center aligned header">View Student Records</div>
    <div class="right aligned">
      <p>Basic information</p>
      <p>Admission and registration information</p>
      <p>Advanced standings</p>
      <p>Scholarshipsand awards</p>
      <p>High school courses and grades</p>
      <p>University courses and grades</p>
    </div>
  </button>
  </div>
</div>
