<div class="ui center aligned header">
    <h2>Welcome to the Western Engineering Adjudication System</h2>
</div>

<hr>
<br/>
<p style="font-size: 120%">
  Users of the Western Engineering Adjudication System can: 
  <ul>
     <li>View student records, including:</li>
     <ul>
       <li>Basic information</li>
       <li>Admission and registration information</li>
       <li>Advanced standings</li>
       <li>Scholarshipsand awards</li>
       <li>High school courses and grades</li>
       <li>University courses and grades</li>
     </ul>
     <li>Search for a student's record using first name, last name and/or student number </li>
     <li>Edit a student's record information</li>
     <li>Add and delete students records from the database</li>
     <li>Import student records to the local database</li>
     <li>Manage the gender, residency, high school, high school subject, and high school course system codes</li>
  </ul>
</p>
