<div class="ui center aligned header">
    <h2>Welcome to the Western Engineering Adjudication System</h2>
</div>

<hr>
<br/>
<p style="font-size: 120%">
  Users of the Western Engineering Adjudication System can: 
  <ul>
     <li>View student records</li>
     <li>Search for a student's record using first name, last name and/or student number </li>
     <li>Edit a student's record</li>
     <li>Add and delete students records from the database</li>
     <li>Manage the gender and residency system codes</li>
  </ul>
</p>
