<h2>Welcome to the Western Engineering Adjudication System</h2>
<hr>
<br/>
<p>
  Using this system, users can access, search and edit student records, as well as manage the system code.
</p>
<br/><br/>
